Source: arcanfe
Section: games
Priority: optional
Maintainer: Björn Ståhl <arcan-fe@b-stahl.se>
Homepage: http://arcanfe.wordpress.com
Build-Depends: cmake, build-essential, libsdl-ttf2.0-dev, libsdl1.2-dev, libsdl-image1.2-dev, liblua5.1-dev, libusb-1.0-0-dev, libapr1-dev, libaprutil1-dev, libsqlite3-dev, libopenal-dev, libglew-dev, libvpx-dev, librtmp-dev, libvorbis-dev, libogg-dev, libx264-dev, libbz2-dev, zlib1g-dev, libmp3lame-dev, libavcodec-dev, libswscale-dev, libavfilter-dev, libavformat-dev, libavutil-dev, libpostproc-dev, libswresample-dev, libavdevice-dev

Package: arcanfe
Architecture: any
Depends: libc6 (>= 2.4), libglu1-mesa | libglu1, liblua5.1-0, libopenal1, libsdl-image1.2 (>= 1.2.10), libsdl-ttf2.0-0, libsdl1.2debian (>= 1.2.10-1), libsqlite3-0 (>= 3.6.0), libusb-1.0-0 (>= 2:1.0.8), libavcodec54 (>= 8:1.0.0), libavformat54 (>= 8:1.0-0), libavutil51 (>= 8:1.0.0, libswscale2 (>= 8:1.0.0), libavdevice54 (>= 8:1.0-0), libswresample0 (>= 8:1.0.0), libbz2-1.0, x264, librtmp0, ruby1.9.1, libsqlite3-ruby1.9.1, libnokogiri-ruby1.9.1, librmagick-ruby

